
root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{asm,c,cc,cxx,cpp,h,hpp,hxx,inl,ipp,ixx,tlh,tli}]
indent_style = tab
indent_size = 4
tab_width = 4
